*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  padding-bottom: 3%;
  padding-top: 5%;
}

.text { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 3%;
}

.subtext { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  padding-bottom: 1%;
}

.subtext:last-child{
  padding-bottom: 10%;
}

.title-second { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  padding-top: 5%;
  padding-bottom: 3%;
}

.link{
  text-decoration: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid rgb(0, 60, 255);
  box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);
}

.link:hover{
  transition-duration: .5s;
  border: 1px solid rgb(94, 255, 0); 
  color: blue;
}

.link:active {
  transform: translateY(3px);
  box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);
}

//Cards
.conteiner {
  width: 100%;
  height: 100%;
  background-color: rgba(124, 252, 252, 0.575);
}

.conteiner-cards { 
  width: 800px;
  height: 400px;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);
}

.cards {
  width: 80%;
  height: 80%;
  background-image: url(../image/card-game-48980.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  padding-left: 50px;
  margin-left: 90px;
}

// .cards::before{
//   transform: rotate(0deg);
// }

// .cards::after{
//   transform: rotate(180deg);
//   width: 230px;
//   height: 315px;
//   background-color: #fff;
//   border: solid 1px #000;
//   box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);
//   border-radius: 10%;
//   margin-top: -170px;
//   position: relative;
//   left: 250px;
// }

.card {
  width: 230px;
  height: 315px;
  background-color: #fff;
  border: solid 1px #000;
  box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  margin-top: -170px;
  position: relative;
  left: 250px;
}

.diamond-shape {
  width: 30px;
  height: 30px;
  background: rgb(255, 0, 0);
  text-align: center;
  transform: rotate(45deg);
  margin: 15px 0 0 15px;
}

.title-card{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150px;
  position: relative;
  top: 50px;
  left: 320px;
  z-index: 10;
}

// .card {
//   width: 290px;
//   height: 315px;
//   background-color: #fff;
//   border: solid 1px #000;
//   box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
//   border-radius: 10%;
//   margin-top: 0px;
//   position: relative;
//   left: -100px;
// }

// .diamond-shape {
//   width: 30px;
//   height: 30px;
//   background: rgb(255, 0, 0);
//   text-align: center;
//   transform: rotate(45deg);
//   margin: 15px 0 0 15px;
// }

// .title-card{
//   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//   font-size: 150px;
//   position: relative;
//   top: 20px;
//   left: 65px;
//   z-index: 10;
// }

.desk{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: #fff;
}

.desk--hidden{
  display: none;
}